<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!-- Packages Section -->
    <h3>Packages</h3>
    <%= form.fields_for :cargo do |cargo_form| %>
      <%= cargo_form.fields_for :packages do |package_form| %>
        <div>
          <%= package_form.label :volume, style: "display: block" %>
          <%= package_form.number_field :volume %>
        </div>

        <div>
          <%= package_form.label :weight, style: "display: block" %>
          <%= package_form.number_field :weight %>
        </div>

        <div>
          <%= package_form.label :package_type, style: "display: block" %>
          <%= package_form.select :package_type, [['Standard', 'standard']], {}, style: "display: block" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <!-- Pick Up Section -->
    <h3>Pick Up</h3>
    <%= form.fields_for :origin do |pick_up_form| %>
      <div>
        <%= pick_up_form.label :latitude, style: "display: block" %>
        <%= pick_up_form.text_field :latitude %>
      </div>

      <div>
        <%= pick_up_form.label :longitude, style: "display: block" %>
        <%= pick_up_form.text_field :longitude %>
      </div>
    <% end %>
  </div>

  <div>
    <!-- Drop Off Section -->
    <h3>Drop Off</h3>
    <%= form.fields_for :destination do |drop_off_form| %>
      <div>
        <%= drop_off_form.label :latitude, style: "display: block" %>
        <%= drop_off_form.text_field :latitude %>
      </div>

      <div>
        <%= drop_off_form.label :longitude, style: "display: block" %>
        <%= drop_off_form.text_field :longitude %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
