<div id="<%= dom_id order %>">
  <p>
    <strong>Origin:</strong>
    <%= order.origin_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= order.destination_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= order.route_id %>
  </p>

</div>
