<div id="<%= dom_id route %>">
  <p>
    <strong>Origin:</strong>
    <%= route.origin_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= route.destination_id %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= route.path %>
  </p>

  <p>
    <strong>Anchor point:</strong>
    <%= route.anchor_point %>
  </p>

  <p>
    <strong>Miles with cargo:</strong>
    <%= route.miles_with_cargo %>
  </p>

  <p>
    <strong>Total miles:</strong>
    <%= route.total_miles %>
  </p>

  <p>
    <strong>Operational truck cost:</strong>
    <%= route.operational_truck_cost %>
  </p>

  <p>
    <strong>Pallets:</strong>
    <%= route.pallets %>
  </p>

  <p>
    <strong>Cargo cost:</strong>
    <%= route.cargo_cost %>
  </p>

  <p>
    <strong>Empty cargo cost:</strong>
    <%= route.empty_cargo_cost %>
  </p>

  <p>
    <strong>Markup:</strong>
    <%= route.markup %>
  </p>

  <p>
    <strong>Price based on total cost:</strong>
    <%= route.price_based_on_total_cost %>
  </p>

  <p>
    <strong>Price based on cargo cost:</strong>
    <%= route.price_based_on_cargo_cost %>
  </p>

  <p>
    <strong>Margin:</strong>
    <%= route.margin %>
  </p>

  <p>
    <strong>Pickup dropoff qty:</strong>
    <%= route.pickup_dropoff_qty %>
  </p>

  <p>
    <strong>Time hours:</strong>
    <%= route.time_hours %>
  </p>

  <p>
    <strong>Contract name:</strong>
    <%= route.contract_name %>
  </p>

</div>
